spring:
  application:
    name: activityservice
  data:
    mongodb:
      host: localhost
      port: 27017
      database: aiactivityfitness
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

server:
  port: 8082

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

kafka:
  topic:
    name: activity-events

logging:
  level:
    org.springframework.data.mongodb: DEBUG